
<div class="title">
  <mat-card-title>LLEGADA DE CLIENTES</mat-card-title>
</div>
<hr>

<div class="row">
  <div class="col-5">
    <div class="container">
      <div class="row">
        <mat-card>
          <mat-card-title>Ingresar Parametros</mat-card-title>
          <span *ngIf="valid; else space" [ngStyle]="{color:hintColor }">*Todos los campos son obligatorios</span>
          <ng-template #space>
            <br>
          </ng-template>
          <form [formGroup]="generateData" (ngSubmit)="generarNumeros()">
            <div class="row">
              <mat-form-field appearance="outline" fxFlex="100" >
                <mat-label>Costo Fijo</mat-label>
                <input matInput
                       placeholder="Ingrese el costo fijo"
                       type="number"
                       formControlName="cFijo"
                       required>

              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Numero maximo de horas</mat-label>
                <input matInput
                       type="number"
                       placeholder="Ingrese el numero maximo de horas"
                       formControlName="nMaxH"
                       required>

              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Precio de compra de articulo</mat-label>
                <input matInput
                       type="number"
                       placeholder="Ingrese el precio de compra del articulo"
                       formControlName="pCArt"
                       required>

              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Precio de venta de articulo</mat-label>
                <input matInput
                       type="number"
                       placeholder="Ingrese el precio de venta del articulo"
                       formControlName="pVentaArticulo"
                       required>

              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Nro Simulaciones</mat-label>
                <input matInput
                       type="number"
                       placeholder="Ingrese el numero de simulaciones que se realizaran"
                       formControlName="nroSimulaciones"
                       required>

              </mat-form-field>
            </div>

            <div class="row ">
              <div class="col mt-3 mx-auto d-flex justify-content-center">
                <button  mat-raised-button color="primary" type="submit">
                  <mat-icon>arrow_forward</mat-icon>
                  GENERAR SIMULACIONES
                </button>
              </div>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-7">

    <div class="container">
      <mat-card>
        <mat-card-title>Lista de Simulaciones</mat-card-title>
        <mat-table #table [dataSource]="dataSource">
          <ng-container matColumnDef="TotalArticulosVendidos">
            <mat-header-cell *matHeaderCellDef> Total Articulos Vendidos </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tArtVend}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="GananciaNeta">
            <mat-header-cell *matHeaderCellDef> Ganancia Neta </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.gNeta}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Opciones">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button (click)="verLista(element.estados)" mat-raised-button color="primary">
                <mat-icon> table_chart</mat-icon>
                Ver Llegada Clientes
              </button>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[4, 8, 16, 32]"></mat-paginator>
      </mat-card>
      <br>
      <mat-card>
        <mat-card-title>Promedio de simulaciones</mat-card-title>
        <br>
        <mat-card-subtitle>Ganancia Neta: {{ promVEndogenasLlegadaClientes.gNeta }}</mat-card-subtitle>
        <mat-card-subtitle>Total Articulos Vendidos: {{ promVEndogenasLlegadaClientes.tArtVend }} </mat-card-subtitle>
      </mat-card>

    </div>
  </div>
</div>
